.juice{
  display:flex;
}
.theme{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.prof{
  width:300px;
  border-radius: 150px;
}
.site-map{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  background-color: greenyellow;
  color:white;
}
